@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  
}

body {
  min-height: 100vh;
  background-color: #353536;
  background: linear-gradient(#606161, #353536);
}

main {
  width: 90%;
  max-width: 90vw;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #3a4346;
  color: #f0f6f8;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

form {
  width: 100%;
  max-width: 520px;
  padding-bottom: 80px;
}

label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #dfd9be;
}

input {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  background-color: #b4b6c4;
  border: none;
  border-radius: 4px;
  margin: 5px 0 12px;
}

form button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #f7e596;
  border: none;
  border-radius: 4px;
  font: inherit;
  font-weight: bold;
  color: #3a4346;
  cursor: pointer;
}

form button:hover {
  background-color: #f9e175;
}
